<div class="container">
  <div class="row">
      <div class="col-10">
        <input type="search" id="searchbar_input" class="form-control" placeholder="Search...">
      </div>
      <div class="col-2">
        <select class="form-control" id="searchbar_select" data-size="5">
          <option selected value="search_users">Search for users</option>
          <option value="search_kweets">Search for kweets</option>
        </select>
      </div>
  </div>
</div>

<div class="dropdown">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>